@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>VicLyfe</h1>
    <p class="lead">Monash nui 2019 S1 IE team FiveStars(TA21)</p>
    <p> Team member:</p>
    <p>  Jiewen Deng (MBIS)</p>
    <p>  Liulin Tao (MBIS)</p>
    <p>  Achmad Ginanjar (MDS)</p>
    <p>  Rajkiran Basavaraj Renuka (MIT)</p>
    <p>  Shuo Wang (MIT)</p>
</div>